<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simplesurveycreator">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Dashboard"></activity>
        <activity android:name=".activity.Fogotpw" />
        <activity android:name=".activity.Signup" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Login">
        <activity android:name=".activity.successfulydeletemsg"></activity>
        <activity android:name=".activity.deletemsg" />
        <activity android:name=".activity.customerfeedback4" />
        <activity android:name=".activity.customerfeedback3" />
        <activity android:name=".activity.customerfeedbacktem2" />
        <activity android:name=".activity.customerfeedbacktemplete" />
        <activity android:name=".activity.successfulysendmsg" />
        <activity android:name=".activity.whatsappshare" />
        <activity android:name=".activity.Moresharelist" />
        <activity android:name=".activity.sharelist" />
        <activity android:name=".activity.Populertemlist" />
        <activity android:name=".activity.MainActivity2" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>